.user_product_block {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ebebeb;
}

.user_product_block .item {
  flex-grow: 1;
}

.user_product_block .item .image {
  height: 125px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  margin-right: 10px;
}
.user_product_block .item.btn {
  width: 0px;
}

.user_product_block .cart_remove_btn {
  cursor: pointer;
  background: #f44336;
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  margin-top: 50px;
}
