.footer {
  background-color: var(--color-bck-black);
  font-family: Roboto;
  padding: 2rem 0;
}

.footer__content {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
}

.footer__logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem 0px;
  text-transform: uppercase;
  /* max-width: 25rem; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

.footer__left h3,
.footer__right h3 {
  color: var(--color-primary);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.footer__span {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
}

.footer__icon {
  color: var(--color-primary);
}

.footer__right p {
  color: var(--color-grey-light-1);
  font-size: 1.5rem;
}
