.header {
  background-color: var(--color-bck-black);
  border-bottom: 1px solid #fff;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__logo {
  font-family: "Monoton", cursive;
  color: #ffffff;
  font-size: 4rem;
  padding: 1rem 0px;
  text-transform: uppercase;
  max-width: 25rem;
}

.header__right {
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.header__nav {
  display: flex;
  /* text-align: right; */
  justify-content: flex-end;
  gap: 1rem;
  /* margin-right: 1rem; */
}
.header__top__right,
.header__bottom__right {
  text-transform: uppercase;
  font-weight: 700;
  text-align: right;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px;
}

.header__top__right {
  color: #c9c9c9;
  border-bottom: 1px solid #ffffff;
}

.header__cart {
  display: inline-block;
  position: relative;
}

.header__cart span {
  /* display: ; */
  position: absolute;
  top: -1.5rem;
  left: -1.3rem;

  background-color: var(--color-primary);
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
/* 


header .cart_link span {
  position: absolute;
  background: red;
  top: 1px;
  color: #ffff;
  left: -26px;
  border-radius: 50%;
  padding: 0px 7px 2px 7px;
  font-size: 12px;
}
header .log_out_link {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
} */
