.products_table .action_btn {
  width: 100px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.products_table .remove_btn {
  background: #dc3545;
}
.products_table .remove_btn:hover {
  background: #ee7782;
}

.products_table .edit_btn {
  background: #117a8b;
}
.products_table .edit_btn:hover {
  background: #3d99a8;
}
