.card__item__wrapper {
  /* max-width: 25%; */
  padding: 0 2rem;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.card__item__wrapper__image {
  width: 100%;
  height: 28rem;
  background-position: center !important;
  background-size: cover !important;
  border: 1px solid #f0f0f0;
  border: 1px solid var(--color-primary);
}

.card__item__wrapper .tags {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  border-bottom: 1px solid var(--bck-red);
}

.card__item__wrapper .tags .brand,
.card__item__wrapper .tags .name,
.card__item__wrapper .tags .price {
  text-align: center;
  margin: 5px;
}

.card__item__wrapper .tags .brand {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.card__item__wrapper .tags .name {
  font-size: 2rem;
  font-weight: 700;
}

.card__item__wrapper .tags .price {
  font-weight: 300;
  font-size: 2rem;
}

.card__item__wrapper .actions {
  display: flex;
  padding: 1.5rem 0 10px 0;
}

.card__item__wrapper .actions .button_wrapp:nth-child(1) {
  flex-grow: 1;
  padding-right: 10px;
}

.card__item__wrapper.grid_bars {
  float: none;
  width: 100%;
  display: flex;
}

.card__item__wrapper.grid_bars .image {
  width: 42rem;
  height: 21rem;
  border: none;
}

.card__item__wrapper.grid_bars .action_container {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
}

.card__item__wrapper.grid_bars .description {
  clear: both;
  padding: 0px 25px;
  border-top: 1px solid #eeeeee;
}

.card__item__wrapper.grid_bars .tags {
  border-bottom: 0px;
  padding: 5px 20px;
}

.card__item__wrapper.grid_bars .tags .brand {
  font-size: 21px;
}

.card__item__wrapper.grid_bars .tags .brand,
.card__item__wrapper.grid_bars .tags .name {
  float: left;
}

.card__item__wrapper.grid_bars .tags .price {
  float: right;
}

.card__item__wrapper.grid_bars .actions {
  clear: both;
  float: right;
  padding: 10px 20px 0px 15px;
}
